img {
  object-fit: cover;
}
body {
  background: rgb(137, 74, 191);
  background: linear-gradient(
    90deg,
    rgba(137, 74, 191, 1) 3%,
    rgba(25, 126, 24, 0.9906556372549019) 46%,
    rgba(244, 197, 123, 1) 97%
  );
}

.search-form {
  text-align: center;
  width: auto;
  margin: 0 auto;
  margin-bottom: 17px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(168, 154, 174, 0.338);
}
.search-form input {
  height: 30px;
  font-family: Arial;
  background-color: rgba(255, 254, 255, 0.399);
  border: 1px solid rgb(40, 34, 34);
  border-radius: 3px;
  margin-right: 20px;
}
/* .search-form input:focus {
  border: 3px solid #2e6026ec;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.photo-card {
  width: 300px;
  border: 1px solid rgb(93, 81, 106);
  border-radius: 5px;
  margin: 5px;
}
.photo-card img {
  width: 300px;
  height: 200px;
}

.info-item {
  margin: 0 10px;
  font-size: 15px;
  font-weight: normal;
}
/* BUTTONS*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.load-more,
.search-form button {
  cursor: pointer;
  box-shadow: 2px 2px 2px #3c433b5b;
  background-color: rgb(96, 138, 96);
  border-radius: 3px;
  border: 1px solid rgb(40, 34, 34);
  display: inline-block;

  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 29px;
  text-decoration: none;

  margin: 10px auto;
}

.load-more:hover,
.search-form button:hover {
  background-color: #362f4bec;
}
.load-more {
  text-align: center;
  padding: 5px 5px;
  display: inline-block;
  font-size: 26px;
  display: flex;
  text-align: center;
  /* position: relative;
  top: 1px; */
}
